{{- /* global */ -}}
edit.command = "nvim"
[merge]
    command = "nvim"
    args = [{{ printf "\"-d\", \"{{ .Destination }}\", \"{{ .Source }}\", \"{{ .Target }}\"" }}]

[git]
    autoCommit = true
    autoPush = false

{{- if eq .chezmoi.hostname "idelfonso" }}
{{- /* desktop */}}

[data]
    alacritty_size = 12

{{- else if eq .chezmoi.hostname "alan" }}
{{- /* laptop */}}

[data]
    alacritty_size = 9

{{- end }}
